{% extends "layout/admin.html" %}
{% block body %}
<br>
<br>
<div class="form">
<div class="group">
<h1>Add User</h1>
<form method='POST' action='/newuser'>

	Username: <input type="text" name="username">
	<br>
	<br>
	Email: <input type="text" name="email">
	<br>
	<br>
	Group: <input type="text" name ="group"
	<br>
	<br>
	<input type="submit" value="Add User">


</form>
</div>
<br>

<div class="group">
<h1>Add Queen</h1>
<form method='POST' action='/newqueen'>

	Name: <input type="text" name="name">
	<br>
	<br>
	Image: <input type="text" name="img">
	<br>
	<br>
	Description: <textarea name="description"></textarea>
	<br>
	<br>
	<br>
	<input type="submit" value="Add Queen">


</form>
</div>
</div>
<div class="usermap">
<br>
{% for u in users %}
<div class="user">
<br>
<h2>{{u.username}}</h2>
<b>Email:</b> {{u.email}}
<br>
<b>Group:</b> {{u.group}}
<br>
<b>Points:</b> {{u.points}}
<br>
<b>Queens:</b> 
<br>
{% for q in u.queens %}
<div class="user">
<img src="{{q.img}}" width=50> 
</div>
{%endfor%}
<br>
<a href="/edituser/{{u.id}}">Edit User</a>
<br>
<a href="/clear/{{u.id}}">Delete User</a>
<br>
</div>
{%endfor%}
</div>
<br>

{% endblock %}