{% extends "layout/main.html" %}

{% block body %}


<h1>Scoreboard</h1>

<br>
<br>
<h2>Group 1</h2>
{% for u in users %}
{% if u.group == 1 %}
<h3>{{u.username}} - {{u.points}} </h3>
<br>
<form method='POST' action="/changepoints/{{u.id}}">
ENTER NEW POINTS: <input type="text" name="points">
<br>
<input type="submit" value="Enter">
</form>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 2</h2>
{% for u in users %}
{% if u.group == 2 %}
<h3>{{u.username}} - {{u.points}} </h3>
<br>
<form method='POST' action="/changepoints/{{u.id}}">
ENTER NEW POINTS: <input type="text" name="points">
<br>
<input type="submit" value="Enter">
</form>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 3</h2>
{% for u in users %}
{% if u.group == 3 %}
<h3>{{u.username}} - {{u.points}}</h3>
<br>
<form method='POST' action="/changepoints/{{u.id}}">
ENTER NEW POINTS: <input type="text" name="points">
<br>
<input type="submit" value="Enter">
</form>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 4</h2>
{% for u in users %}
{% if u.group == 4 %}
<h3>{{u.username}} - {{u.points}}</h3>
<br>
<form method='POST' action="/changepoints/{{u.id}}">
ENTER NEW POINTS: <input type="text" name="points">
<br>
<input type="submit" value="Enter">
</form>
{%endif%}
{%endfor%}
<br>
<br>
<br>





{% endblock %}