{% extends "layout/main.html" %}
{% block body %}
<br>
<br>

<h1>Edit User</h1>
<form method='POST' action='/updateuser/{{user.id}}'>

	ID : {{user.id}}
	<br>
	<br>
	Username: <input type="text" name="username" value="{{user.username}}">
	<br>
	<br>
	Password: <input type="text" name="password" value = "{{user.password}}">
	<br>
	<br>
	Email: <input type="text" name="email" value = "{{user.email}}">
	<br>
	<br>
	Group: <input type="text" name ="group" value = "{{user.group}}">
	<br>
	<br>
	<input type="submit" value="Edit User">


</form>
Points: {{user.points}}
<br>
<br>
<form method='POST' action="/changepoints/{{user.id}}">
ENTER NEW POINTS: <input type="text" name="points">
<br>
<input type="submit" value="Enter">
</form>
<form method="POST" action='/bench/'>
{%for q in user.queens %}
<div class="user">
<h4>{{q.name}}</h4>
<br>
{% if q.kickedoff %}
<img src = "{{q.img}}" width=300 opacity=0.3 />
{% else %}
<img src = "{{q.img}}" width=300/>
{%endif%}
<br>
{% if q.active %}
IN PLAY
{% else %}
BENCH
{% endif %}

<select name="team">
<option value="active">ACTIVE</option>
<option value="bench">BENCH</option>
</select>	



<br>
</div>


{%endfor%}
<br>
<input type="submit" value="SAVE">
</form>
<br>
<br>
<br>
<br>


{% endblock %}