{% extends "layout/main.html" %}

{% block body %}

<form method='POST' action='/oauth2callback'>

	<input type="text" name="username">
	<input type="text" name="password">

	<input type="submit" value="Log In">
	login page


</form>
<h1>Scoreboard</h1>

<br>
<br>
<h2>Group 1</h2>
{% for u in users %}
{% if u.group == 1 %}
<h3>{{u.username}} - {{u.points}} </h3>
<br>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 2</h2>
{% for u in users %}
{% if u.group == 2 %}
<h3>{{u.username}} - {{u.points}} </h3>
<br>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 3</h2>
{% for u in users %}
{% if u.group == 3 %}
<h3>{{u.username}} - {{u.points}}</h3>
<br>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 4</h2>
{% for u in users %}
{% if u.group == 4 %}
<h3>{{u.username}} - {{u.points}}</h3>
<br>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 5</h2>
{% for u in users %}
{% if u.group == 5 %}
<h3>{{u.username}} - {{u.points}}</h3>
<br>
{%endif%}
{%endfor%}
<br>
<br>
<br>
<h2>Group 6</h2>
{% for u in users %}
{% if u.group == 6 %}
<h3>{{u.username}} - {{u.points}}</h3>
<br>
{%endif%}
{%endfor%}
<br>
<br>
<br>




{% endblock %}