{% extends "layout/admin.html" %}

{% block body %}
<br>
<br>
<h1>FREE AGENTS:</h1>

{% for q in queens %}
{% if q.drafted == 0 %}
<div class="group">
<h2>{{q.name}}</h2>
<img src="{{q.img}}" width=150>
<br>
{% for o in q.owners %}
	Owner: {{o.username}}
	{%endfor%}
<form method="POST" action="/addowner/{{q.id}}">
FREE AGENT!<br> New Owner:<br> <input type="text" name="owner">
</form>

<a href="/delete/{{q.id}}">Delete Queen</a>
<!--<a href='/duplicate/{{q.id}}'>CLONE THIS QUEEN</a>-->
</div>
{% endif%}
{%endfor%}
<br>
<br>
<h1>OWNED:</h1>
{% for q in queens %}
{% if q.drafted == 1 %}
<div class="group">
<h2>{{q.name}}</h2>
<img src="{{q.img}}" width=150>
<br>

	{% for o in q.owners %}
	Owner: {{o.username}}
	{%endfor%}
<br>
<a href="/clearowner/{{q.id}}">Clear Owner</a>

<a href="/delete/{{q.id}}">Delete Queen</a>
<!--<a href='/duplicate/{{q.id}}'>CLONE THIS QUEEN</a>-->
</div>
{%endif%}

{%endfor%}

{% endblock %}