{% extends "layout/admin.html" %}

{% block body %}


{% for q in queens %}

<h2>{{q.name}}</h2>
<img src="{{q.img}}" width=150>
<br>
{% if q.drafted == 1 %}
	{% for o in q.owners %}
	Owner: {{o.username}}
	{%endfor%}
<br>
<a href="/clearowner/{{q.id}}">Clear Owner</a>

{% else %}
<form method="POST" action="/addowner/{{q.id}}">
FREE AGENT! New Owner: <input type="text" name="owner">
</form>
{% endif%}
<a href="/delete/{{q.id}}">Delete Queen</a>
<!--<a href='/duplicate/{{q.id}}'>CLONE THIS QUEEN</a>-->


{%endfor%}

{% endblock %}